certifi==2018.8.24
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
line-bot-sdk==1.8.0
MarkupSafe==1.0
matplotlib==3.0.0
numpy==1.15.2
oandapyV20==0.6.3
packaging==18.0
pandas==0.23.4
pip-review==1.0
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.12
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
